.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 800;
    background-color: rgba(0, 255, 255, 0);
  
    
}

.b1{
    position: absolute;
    top: 3px;
    cursor: pointer;
    right: 5px;
    background-color: #FF8D29;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    height: 36px;
    padding: 10px;
  }
h3{
    background-color: #fbf1bd00;
  }
  .generator_password{
    height: 1.5rem;
    position: relative;
    padding-top: 0.6rem;
    text-align: center;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
    background-color: #fddc7a;
  }
  input{
    cursor: pointer;
  }
.for{
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #FFE69A;
}
label{
    background-color: #ffe69a00;
}
.generator-b{
  
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.generator-b:hover{
  border: 5px solid rgb(255, 221, 0);
  border-radius: 10px;
}