.App {
  background-color: rgba(0, 255, 255, 0);
 
}
.generator_password,h3{
  background-color: #FFFFFF;

}
textarea{
  width: 0px;
  height: 0px;
}
.Container{
  text-align: center;
  padding: 1rem;
  margin: 10rem;
  background-color: #fbf1bd;
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
  -moz-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
  box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
}
.Generator{
  padding: 1rem;
  background-color: rgba(127, 255, 212, 0);
}
.form{
  border-radius: 1opx;
  
  background-color: #ffffff00;
}
.h2{
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  text-align: center;
  padding: 1rem;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #FFCD38 ;
}

@media screen and (max-width: 800px){
  .Container{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    background-color:#fbf1bd;
    border-radius: 10px;
    -webkit-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    -moz-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
  }
}


@media screen and (min-width: 800px){
  .Container{
    text-align: center;
    padding: 1rem;
    margin: 10rem;
    background-color:#fbf1bd;
    border-radius: 10px;
    -webkit-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    -moz-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
  }
}

@media screen and (min-width: 1200px){
  .Container{
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
    margin-left: 25rem;
    margin-right: 25rem;
    background-color:#fbf1bd;
    border-radius: 10px;
    -webkit-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    -moz-box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
    box-shadow: 4px 3px 223px -17px rgba(28,232,255,1);
  }
}